*.class
*.log
console.devmode.log
# sbt specific
.cache
.history
.lib/
dist/*
target/
boot/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target
project/project
.idea/
# Scala-IDE specific
.scala_dependencies
.worksheet
